<aside id="sidebar">
  <nav>
    <ul>  
      <li class="all-patients">
        <%= link_to "All Patients", patients_path, class: 'button' %>
      </li>
      <li class="create-patient">
        <%= link_to 'Add New Patient', new_patient_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>